@model RegisterViewModel

@{
    ViewBag.Title = "Kullanıcı Kayıt Ekranı";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Register</div>
                <div class="card-body">
                    <form method="post" asp-controller="User" asp-action="Register">
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="text" id="Email" name="Email" class="form-control" value="@Model.Email"/>
                        </div>
                        <div class="form-group">
                            <label for="FullName">İsim Soyisim:</label>
                            <input type="text" id="FullName" name="FullName" class="form-control" value="@Model.FullName"/>
                        </div>
                        <div class="form-group">
                            <label for="Password">Şifre:</label>
                            <input type="password" id="Password" name="Password" class="form-control" value="@Model.Password"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>